.o_sale_action_preview {
    i {
        color: white;
    }

    > div {
        background-color: rgba(black, 0.15);
        transition: 0.5s;
    }

    &:hover > div {
        background-color: rgba(black, 0.3);
        transition: 0.5s;
    }
}
