:root {
    --odoo-purple: #714b67;
}

.color-primary {
    color: var(--odoo-purple);
}

.btn {
    transition: none !important;
    font-weight: 500;
}

.btn.btn-primary {
    background-color: var(--odoo-purple) !important;
    border-color: var(--odoo-purple) !important;
}

.btn.btn-primary:hover {
    background-color: #52374b !important;
    border-color: #52374b !important;
}

.btn.btn-secondary {
    color: #374151 !important;
    background-color: #e7e9ed !important;
    border-color: #e7e9ed !important;
}

.btn.btn-secondary:hover {
    color: #1f2937 !important;
    background-color: #d8dadd !important;
    border-color: #d8dadd !important;
}

.alert.alert-secondary {
    color: #017e84 !important;
    background-color: #017e8425 !important;
    border-color: #017e8480 !important;
}

.odoo-bg-primary,
.bg-primary,
.form-check-input:checked,
.nav-pills .nav-link.active {
    background-color: var(--odoo-purple) !important;
    border-color: var(--odoo-purple) !important;
}

.odoo-bg-secondary,
.bg-secondary {
    background-color: #017e84 !important;
}

.odoo-pill {
    width: 7px !important;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-primary {
    color: var(--odoo-purple) !important;
    font-size: 12px;
}

.always-on-top {
    z-index: 9999;
}

.background {
    background-color: #f1f1f1;
    height: 100vh;
}

.icon-button {
    width: 25px;
    height: 25px;
    font-size: 12px;
}

.handler-loading {
    min-height: 300px;
}

.main-container {
    max-width: 600px;
}

.dialog-body {
    max-height: 70vh;
    min-height: 40vh;
}
